/*
Colours:
orange                  green                   black
#FD971F                 #A6E22E                 #181A1B
rgba(253, 151, 31, 1)   rgba(166, 226, 46, 1)   rgba(24, 26, 27, 1)

white                   pink                    blue
#FFFFFF                 #F92672                 #66D9EF
rgba(255, 255, 255, 1)  rgba(249, 38, 114, 1)   rgba(102, 217, 239, 1)
*/

/*--------------- Fonts ---------------*/
@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../resources/fonts/YanoneKaffeesatz-Regular.ttf');
}
@font-face {
    font-family: 'Yanone Kaffeesatz Light';
    src: url('../resources/fonts/YanoneKaffeesatz-Light.ttf');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../resources/fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../resources/fonts/RobotoCondensed-Light.ttf');
}
/*--------------- end Fonts ---------------*/

/*--------------- Miscellaneous highlight styles ---------------*/
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-overflow-scrolling: touch;
}
::selection {
    background-color: rgba(249, 38, 114, 0.5);
    opacity: 1;
}
::-moz-selection {
    background-color: rgba(249, 38, 114, 0.5);
    opacity: 1;
}
.light-toggle ::selection {
    background-color: rgba(253, 151, 31, 0.5);
    opacity: 1;
}
.light-toggle ::-moz-selection {
    background-color: rgba(253, 151, 31, 0.5);
    opacity: 1;
}
/*--------------- end Miscellaneous highlight styles ---------------*/

html {
    /*background-color: #272822;*/
    background-color: #181A1B;
    font-family: 'Roboto Condensed Light', sans-serif;
    color: white;
    font-size: 16px;
    transition: background-color 500ms, color 500ms;
}
html.light-toggle {
    background-color: #FFE7D4;
    color: black;
    /*font-weight: 600;*/
    font-family: 'Roboto Condensed';
}
body {
    position: relative;
    padding-top: 50vh;
    margin: 0 0;
    min-width: 250px;
    min-height: 75vh;
    transition: opacity 700ms 350ms;
}
body > *:not(.header):not(.gradient):not(.footer--gradient):not(.version-nav):not(.light-toggle-container) {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}
.hidden body {
    opacity: 0;
}

h1, h2, h3, h4 {
    position: relative;
    font-family: 'Yanone Kaffeesatz Light', sans-serif;
}

a {
    color: #66D9EF;
    text-decoration: none;
    transition: color 500ms;
}
.light-toggle a {
    color: #006FB1;
}

a:hover, a:focus {
    text-decoration: underline;
}
a:active {
    opacity: 0.75;
}
b {
    color: #FD971F;
    font-weight: normal;
}
.light-toggle b {
    color: #F92672;
}

.light-toggle-checkbox {
    display: none;
}
.light-toggle-checkbox + .light-toggle-button {
    transform: rotate(-90deg) translateX(4px);
    outline: 0;
    opacity: 0.5;
    display: inline-block;
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    user-select: none;
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    margin-right: -5px;
    transition: all .4s ease;
}
.light-toggle-checkbox + .light-toggle-button:after,
.light-toggle-checkbox + .light-toggle-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.light-toggle-checkbox + .light-toggle-button:after {
    left: 0;
    border-radius: 50%;
    background: #F92672;
    transition: all .2s ease;
}
.light-toggle-checkbox + .light-toggle-button:before {
    display: none;
}
.light-toggle-checkbox:checked + .light-toggle-button {
    background: #3BC360;
}
.light-toggle-checkbox:checked + .light-toggle-button:after {
    background: rgba(0,0,0,0.3);
    left: 50%;
}
.light-toggle-container {
    display: inline-block;
    padding: 1.3em;
    cursor: pointer;
    text-align: right;
    flex: 50%;
}
.light-toggle-container__label {
    opacity: 0.1;
    margin-right: -8px;
    transform: scale(0.75);
    text-align: right;
    display: inline-block;
    transition: opacity 150ms;
}
.light-toggle-container:hover .light-toggle-container__label {
    opacity: 0.8;
}

.cabbage {
    position: relative;
    width: 54px;
}
.cabbage svg {
    fill: #A6E22E;
}
.light-toggle .cabbage svg {
    fill: #4F7504;
}
.cabbage--centered {
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}
.cabbage--fly {
    position: absolute;
    top: 0;
    left: 50%;
}
.cabbage--small {
    width: 18px;
}

.text--margin-top-xl {
    margin-top: 42px;
}
.text--margin-top-l {
    margin-top: 26px;
}
.text--margin-top-md {
    margin-top: 12px;
}
.text--no-margin-top {
    margin-top: 0;
}
.text--no-margin-bottom {
    margin-bottom: 0;
}
.text--roboto {
    font-family: 'Roboto Condensed Light'
}
.text--lighter {
    font-weight: lighter;
}
.text--centered {
    text-align: center;
}
.text--no-wrap {
    white-space: nowrap;
}
.text--sup {
    font-size: 0.65em;
    vertical-align: super;
    line-height: 0;
}
.text--orange {
    color: #FD971F;
}
.text--green {
    color: #A6E22E;
    padding: 2px;
}
.light-toggle .text--green {
    background: rgba(0, 0, 0, 0.3);
}
.text--black {
    color: #181A1B;
    padding: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.light-toggle .text--black {
    background: none;
}
.text--white {
    color: #FFFFFF;
    padding: 2px;
}
.light-toggle .text--white {
    background: rgba(0, 0, 0, 0.3);
}
.text--pink {
    color: #F92672;
}
.text--blue {
    color: #66D9EF;
    padding: 2px;
}
.light-toggle .text--blue {
    background: rgba(0, 0, 0, 0.3);
}

.header {
    position: relative;
    margin-bottom: 48px;
}
.header--absolute {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    top: 0;
}
.header--centered {
    position: relative;
    width: 100%;
    transform: translate(0, -50%);
}
.header--sticky-active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(0, -8px);
}
.header--can-shrink {
    position: relative;
    height: 100%;
    transform: scale(1);
    transition: transform 200ms;
}
.header--can-shrink-active {
    transform: scale(0.75) translateY(8px);
}
.header__bg {
    position: absolute;
    height: 125%;
    width: 100%;
    left: 0;
    background: linear-gradient(to bottom, rgba(23, 28, 32, 0.95) 0 75%, rgba(24, 26, 27, 0) 100%);
    opacity: 0;
    transition: opacity 200ms, background 500ms;
}
.header__bg--active {
    opacity: 1;
}
.light-toggle .header__bg {
    background: linear-gradient(to bottom, rgba(255, 243, 233, 0.9) 0 75%, rgba(255, 243, 233, 0) 100%);
}

.header--can-shrink-active, .header__bg--active {
    cursor: pointer;
}

.header-decor__wrapper {
}
.header__canvas {
    position: absolute;
    height: 100%;
    width: 100vw;
    margin-top: -3em;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
}
.header-decor {
    position: absolute;
    top: 0;
    left: 50%;
}
.header-decor__item {
    position: absolute;
    width: 1px;
    height: 1px;
}
.light-toggle .header-decor__item {
    background: black !important;
}

.social-nav {
    position: absolute;
    bottom: -48px;
    width: 100%;
    text-align: center;
    /*margin-top: -48px;*/
    opacity: 0.75;
}
.social-nav__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.social-nav ul {
    display: inline-block;
    margin-top: -1em;
    padding: 2em;
}
.social-nav svg {
    fill: #181A1B;
    background-color: white;
    border: 2.4px solid white;
    border-radius: 25%;
    transition: opacity 150ms, fill 500ms, background 500ms, background-color 500ms;
}
.light-toggle .social-nav svg {
    background-color: black;
    border-color: black;
    fill: #FFE7D4;
}
.social-nav li {
    list-style-type: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 2px;
}
.social-nav ul:hover li:not(:hover) svg {
    opacity: 0.45;
}
svg.steam-svg {
    fill: white;
    background: none;
}
svg.steam-svg g {
    stroke: white;
    fill: none;
    transition: stroke 500ms, fill 500ms;
}
.light-toggle svg.steam-svg {
    fill: black;
    background: none;
}
.light-toggle svg.steam-svg g {
    stroke: black;
}

.toc {
    padding-left: 1.3em;
    list-style-type: none;
    font-size: 14px;
    margin: 0;
}
.toc li {
    position: relative;
}
.toc li:before {
    content: '•';
    position: absolute;
    left: -0.63em;
    top: 0;
    opacity: 0.1;
    transform: scale(0.9);
}
.toc__container {
    display: inline-block;
}
.toc__container > .toc {
    font-size: 16px;
    padding: 0;
}
.toc__container > .toc > li:before {
    content: '#';
}
.toc__container > .toc > .toc > li:before {
    left: -1rem;
    content: "↳";
}
.toc__link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid white;
    transition: border-bottom-color 500ms;
}
.light-toggle .toc__link {
    color: inherit;
    border-bottom: 1px solid black;
}
.toc a:hover, .toc a:focus {
    text-decoration: none;
}

.last-updated__container {
    display: inline-block;
    text-align: right;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.last-updated {
    position: relative;
    opacity: 0.35;
    transition: opacity 150ms;
}
.last-updated:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}
.last-updated:hover {
    opacity: 0.9;
}
.last-updated span {
    opacity: 0.5;
}

.container--relative {
    position: relative;
}

.content {
    line-height: 1.5rem;
    margin-bottom: 10rem;
}
.content hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    opacity: 0.2;
}
.content p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.content article ul {
    margin-top: -0.5rem;
}
.content h2 {
    margin-bottom: 1.5rem;
}
.content h3 {
    font-size: 1.25em;
}
.content article {
    margin-bottom: 3rem;
}
.content pre {
    background: rgba(255, 255, 255, 0.03);
    overflow-x: auto;
    font-size: 0.9em;
    padding: 1em;
    transition: background 500ms;
}
.light-toggle .content pre {
    background: rgba(0, 0, 0, 0.05);
}

.show-more {
    position: relative;
    max-height: 200px;
    overflow: hidden;
}
.show-more__button {
    opacity: 0.5;
    font-size: 50%;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}
.show-more__button__label {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.show-more > .show-more__button > .show-more__button__label:before {
    content: 'Show More';
}
.show-more:before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, #181A1B, rgba(24, 26, 27, 0.5) 75%, rgba(24, 26, 27, 0) 100%);
    bottom: 0;
    height: 50%;
    width: 100%;
    pointer-events: none;
    transition: background 500ms;
}
.light-toggle .show-more:before {
    background: linear-gradient(to top, #FFE7D4, rgba(255, 231, 212, 0.65) 80%, rgba(255, 231, 212, 0) 100%);
}
.show-more--active {
    max-height: 100%;
}
.show-more--active:before, .light-toggle .show-more--active:before {
    background: none;
}
.show-more--active > .show-more__button > .show-more__button__label:before {
    content: 'Show Less';
}
.show-more > p:nth-child(2) {
    margin-top: 0;
}

.anchor {
    position: relative;
    top: -150px;
    visibility: hidden;
}

.anchor-link {
    color: white;
    text-decoration: none;
}
.light-toggle .anchor-link {
    color: black;
}
.anchor-hash {
    display: none;
    opacity: 0.08;
    border-bottom: 0px;
    position: absolute;
    padding-right: 4px;
    left: -18px;
    top: -7px;
    font-size: 140%;
}
.content .anchor-hash {
    top: 0;
}
.anchor-hash-2 {
    top: -1px;
    left: -25px;
}

.anchor-link:hover .anchor-hash {
    opacity: 0.8;
}
.anchor-link:hover, .anchor-link:focus {
    text-decoration: none;
}

.anchor-link:active {
    opacity: 0.5;
}

.gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: linear-gradient(to top, #181A1B, rgba(24, 26, 27, 0.5) 75%, rgba(24, 26, 27, 0) 100%);
    pointer-events: none;
    transition: background 500ms;
}
.light-toggle .gradient {
    background: linear-gradient(to top, #FFE7D4, rgba(255, 231, 212, 0.4) 80%, rgba(255, 231, 212, 0) 100%);
}

.resumes {
    width: 100%;
}
.resume-thumbnail {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 1.5em;
    width: 50%;
}
.resume-thumbnail img {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
}
.resume-thumbnail a {
    opacity: 0.7;
}
.resume-thumbnail a:hover, .resume-thumbnail a:focus {
    opacity: 0.9;
}

.version-nav {
    display: inline-block;
    padding: 1.3em;
    flex: 50%;
    opacity: 0.6;
    transition: opacity 150ms;
}
.version-nav:hover {
    opacity: 1;
}
.version-nav ul {
    margin: 0;
    padding: 0;
}
.version-nav li {
    display: inline-block;
    margin-right: 1px;
    list-style-type: none;
}
.version-nav li:first-child {
    margin-top: 0;
}
.version-nav svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    fill: none;
}
.version-nav__link {
    padding: 3px;
    opacity: 0.5;
}
.version-nav__link--current {
    opacity: 1;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
}

.footer {
    font-size: 14px;
}
.footer--gradient {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(253, 151, 31, 0.08), rgba(0, 0, 0, 0));
    transition: background 500ms;
}
.light-toggle .footer--gradient {
    background: linear-gradient(to top, rgba(48, 138, 165, 0.38), rgba(0, 0, 0, 0));
}
.footer--centered {
    margin-top: 4em;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}

@media (min-width: 700px) {
    body > *:not(.header):not(.gradient):not(.footer--gradient):not(.version-nav):not(.light-toggle-container) {
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }
    .version-nav {
        padding: 1em;
    }
    .resume-thumbnail {
        padding: 1em 3em;
    }
    .anchor-hash {
        display: inline;
    }
    .light-toggle-container {
        padding: 1em;
    }
}

@media (max-height: 350px) {
    .gradient {
        display: none;
    }
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background: rgba(36, 38, 41, 0.34);
}

::-webkit-scrollbar-thumb {
    background: rgba(60, 62, 69, 0.34);
}
